* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Blinker", sans-serif;
  font-size: 1.8rem;
  margin: 0;
  background-color: #111d4a;
  color: #868e96;
  font-weight: 400;
}

.hero-container {
  width: 100vw;
  height: 30vh;
  background-image: url("./img/tech.jpg");
  background-size: cover;
  background-position: center;
}

.article-container {
  padding: 2.5rem;
}

h1.article-title {
  font-size: 2.8rem;
  margin-top: 0;
  color: #05cbe9;
}

span.reading-time {
  font-weight: 700;
}

a.read-more {
  padding: 0.5rem 1.5rem;
  background-color: #05cbe9;
  font-weight: 700;
  text-decoration: none;
}
